<div class="dashboard">
    <div class="row">
        <div class="col-sm-12">
            <a href="#" ng-click="logout()"></a>
        </div>
    </div>
    <div class="todos-container">
        <div class="todo" ng-repeat="todo in vm.todos">
            <form method="post">
                <div class="panel-container">
                    <div class="row">
                        <div class="col-xs-1" title="Mark as done">
                            <input type="checkbox" name="name" value="" ng-click="vm.markAsDone(todo)" ng-model="todo.done" ng-checked="todo.done">
                        </div>
                        <div class="col-xs-8" title="Click to edit" ng-class="{'done': todo.done}" contenteditable ng-model="todo.name" ng-blur="vm.editTodo(todo)">
                            {{ todo.name }}
                        </div>
                        <div class="col-xs-2 pull-right">
                            <a href="" class="text-danger" ng-click="vm.deleteTodo(todo)">Delete</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default add-todo">
        <div class="panel-body">
            <form ng-submit="vm.addTodo()">
                <div class="form-group">
                    <label for="todo">Add a todo</label>
                    <input type="text" class="form-control" id="todo" name="todo" placeholder="to..." ng-model="vm.todo.name">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="pull-right" style="cursor:pointer" ng-click="vm.logout()">Logout</a>
        </div>
    </div>
</div>
