<div class="dashboard">
    <div class="todos-container">
        <div class="todo">
            <form action="#" method="post">
                <div class="panel-container">
                    <div class="row">
                        <div class="col-xs-1" title="Mark as done">
                            <input type="checkbox" name="name" value="">
                        </div>
                        <div class="col-xs-8" title="Click to edit">
                            To learn angularjs
                        </div>
                        <div class="col-xs-2 pull-right">
                            <a href="#" class="text-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default add-todo">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="todo">Add a todo</label>
                    <input type="text" class="form-control" id="todo" name="todo" placeholder="to do...">
                </div>
            </form>
        </div>
    </div>
</div>
